body{
    border: none;
    background-image: url("FOndo.png");
    background-size: cover;
    
    }
    
    #menu li:hover{
    background-color: #0292e6 ;
    border-radius: 2em;
    
    }


    #Perfil img{
    padding: 0.3em;
 
}

    #Perfil img:hover{
    
        filter: drop-shadow( 0px 0px 6px #0292e6);
    }


    #Retirar{
    
   background-color: #0292e6;
   border: none;
   height: 80px;
   width: 100%; 
   border-radius: 80px;
   color: white;

    }


    #Retirar:hover{
    
filter: drop-shadow(  0px 0px 6px #00a2ff );
     
         }




    #Depositar{
    background-color: #0292e6;
    border: none;
    width: 100%; 
    height: 80px;
    border-radius: 80px;
    color: white;
    }



    #Depositar:hover{
    
    filter: drop-shadow(  0px 0px 6px #00a2ff );
         
    }
    


    #Opciones div button{
    
    background-color: #0292e6;
    border: none;
    width: 100%; 
    height: 80px;
    border-radius: 80px;
    color: white;
    
    
    }


    #Opciones div button:hover{
    
        background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));

    
    
    }