body{
background-color: #1f2527
    
    }
    
    #menu li:hover{
        background-color: #0292e6 ;
        border-radius: 2em;
        
        }
    
    
    #inputUsuario:focus{
    
        border: solid white 1px;
        box-shadow: none;
        
        }
    
    
    #inputEmail4:focus{
    
    border: solid white 1px;
    box-shadow: none;
    
    }
    
    
    
    #inputPassword4:focus{
    
    border: solid white 1px;
    box-shadow: none;
    
    }


    #inputPassword:focus{
    
        border: solid white 1px;
        box-shadow: none;
        
        }
    


    
    #invalidCheck{
    
        border: solid white 1px;
    box-shadow: none;
    
    }
    
    
    
    #Sign-In button{
    
    background-color:rgb(0, 162, 255) ;
    border: none;
    border-radius: 2em;
    height: 40px;
    width: 600px;
    
    }
    
    
    #Sign-In a button{
    
    text-decoration: none;
    position: relative;
    top: 6px;
    color: white;
    
    
    }
    
    #Sign-In button:hover{
    
    background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));

    
    }

    .footer{
        background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));
        width: 100%;
        max-height: 30px;
        color: rgb(0, 162, 255);
        padding: 3em;
        }