body{
border: none;
background-image: url("FOndo.png");
background-size: cover;


}

#menu li:hover{
background-color: #0292e6 ;
border-radius: 2em;

}






#inputEmail4:focus{

border: solid white 1px;
box-shadow: none;

}



#inputPassword4:focus{

border: solid white 1px;
box-shadow: none;

}

#invalidCheck{

    border: solid white 1px;
box-shadow: none;

}


#Submit{

background-color:#00a2ff ;
border: none;
border-radius: 2em;

height: 40px;

}



#Submit a{
text-decoration: none;
position: relative;
top: 6px;
color: white;


}


#Submit:hover{

    background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));

}



#Sign-In{

background-color:rgb(0, 162, 255) ;
border: none;
border-radius: 2em;
height: 40px;


}


#Sign-In a{

text-decoration: none;
position: relative;
top: 6px;
color: white;


}

#Sign-In:hover{

background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));
}

.footer{
background: linear-gradient(90deg,rgb(0, 162, 255),rgb(0, 70, 110));
width: 100%;
max-height: 30px;
color: rgb(0, 162, 255);
padding: 2.5em;
}